<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피플</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css?ver=1" />
    <script src="/javascript/base.js"></script>
</head>

<body>
    <!-- Loading -->
    <div id="loading">
        <img src="/images/logo.svg">
        <span>로딩중 입니다...</span>
    </div>

    <!-- NAVBAR -->
    <nav>
        <ul>
            <li><a href="/board"><img id="nav_home" src="/images/home.svg" alt="홈" /></a></li>
            <li><a href="/board/search"><img id="nav_search" src="/images/search.svg" alt="검색" /></a></li>
            <li><a href="/board/write"><img id="nav_write" src="/images/write.svg" alt="글 작성" /></a></li>
            <li><a href="#"><img id="nav_login" src="/images/login.svg" alt="로그인" /></a></a></li>
        </ul>
    </nav>

    <!-- Header -->
    <div class="container header-2">
        <div class="wrapper">
            <div id="logo_wrap">
                <img id="logo" src="/images/logo.svg" alt="로고" />
            </div>
            <div id="header_wrap">
                <h1>P'ple</h1>
            </div>
        </div>
    </div>


    <h2><%=location%></h2>
    <div id = "wrapper">
        <% for(let item=0 ; item<list.length; item++){ %>
        <div class="list_container">
        
            <div class="img_wrapper"
                style="background:url('https://i.imgur.com/4KyfXrZ.jpg');background-size: cover;background-repeat: no-repeat;background-position: center center;">
                <!-- 이미지 영역 -->
            </div>
            <div class="content_wrapper">
                <hidden id='boardnum' value=<%=list[item].boardnum%></hidden>
                <span id="list_user_id"><%=list[item].nickname%></span>
                <h2 id="list_title"><a href="board/read/<%=list[item].boardnum%>"><%=list[item].title%></a></h2>
                <h2 id="list_like_likecount"><a href="board/read"><%=list[item].like_count%></a></h2>
                <span id="list_location"><%=location%></span> | <span id="list_blood_type"><%=list[item].blood%></span>
            </div>
            <div class="content_wrapper">
                <span id="list_content"><%=list[item].content%></span>
            </div>
        </div>
        <%}%>
    </div>
  



    <script src="/jquery/jquery.min.js"></script>
    <script>
        
        $( document ).ready( function() {
            

        let renderList = function(vo){

            const html = '<div class="list_container">'+
                '<div class="img_wrapper"'+
                    'style="background:url(\'https://i.imgur.com/4KyfXrZ.jpg\');background-size: cover;background-repeat: no-repeat;background-position: center center;">'+
                '</div>'+
                '<div class="content_wrapper">'+
                    '<hidden id="boardnum" value='+vo.boardnum+'</hidden>'+
                    '<span id="list_user_id"> '+vo.nickname +'</span>'+
                    '<h2 id="list_title"><a href="board/read"> '+ vo.title +'</a></h2>'+
                    '<h2 id="list_like_likecount"><a href="board/read"> '+ vo.like_count +'</a></h2>'+
                    '<span id="list_location"> '+$('list_location').text() +'</span> | <span id="list_blood_type"> '+ vo.blood +'</span>'+
                '</div>'+
                '<div class="content_wrapper">'+
                    '<span id="list_content"> '+ vo.content +'</span>'+
                '</div>'+
            '</div>';
    
            $("#wrapper").append(html);
   
        }
            let key = true;
            let page = 2;
            let isEnd = false;
            
            $(function(){
                $(window).scroll(function(){
                    let $window = $(this);
                    let scrollTop = $window.scrollTop();
                    let windowHeight = $window.height();
                    let documentHeight = $(document).height();

                    if (scrollTop + windowHeight + 500 >= documentHeight && key) {
                        key = false;
                        fetchList();
                        page++;
                        

                    }
                })
            })
            let fetchList = function(){
            if(isEnd == true){
                return;
            }
            
            $.ajax({
                url:"/board/"+$('#list_location').text()+"?page=" + page ,
                type: "GET",
                dataType: "json",
                success: function(result){
                    let length = result.length;
                    if( length < 10 ){
                        isEnd = true;
                    }

                    key = true;
    
                    $.each(result, function(index, vo){
                        renderList(vo);
                    })
                },
                error: function(err){
                    console.log(err)
                }
            });
        }
        })

    </script>
</body>

</html>