<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피플</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css?ver=1" />
    <script src="/javascript/base.js"></script>
</head>

<body>
    <!-- Loading -->
    <div id="loading">
        <img src="/images/logo.svg">
        <span>로딩중 입니다...</span>
    </div>

    <!-- NAVBAR -->
    <nav>
        <ul>
            <li><a href="/board"><img id="nav_home" src="/images/home.svg" alt="홈" /></a><span id="nav_home_span">홈</span></li>
            <li><a href="/board/search"><img id="nav_search" src="/images/search.svg" alt="검색" /></a><span id="nav_search_span">검색</span></li>
            <li><a href="/board/write"><img id="nav_write" src="/images/write.svg" alt="글 작성" /></a><span id="nav_write_span">요청글 작성</span></li>
            <li><a href="/auth/login"><img id="nav_login" src="/images/login.svg" alt="로그인" /></a><span id="nav_login_span">로그인</span></li>
            <li><a href="/auth/kakao/logout"><img id="nav_logout" src="/images/logout.svg" alt="로그아웃" /></a><span id="nav_logout_span">로그아웃</span></li>
            <li><a href="/auth/kakao?requestUrl=/board"><img id="nav_signup" src="/images/signup.svg" alt="회원가입" /></a><span id="nav_signup_span">회원가입</span></li>
            <li><a href="/auth/mypage"><img id="nav_mypage" src="/images/mypage.svg" alt="마이페이지" /></a><span id="nav_mypage_span">마이페이지</span></li>
        </ul>
    </nav>


    <div class="container">
        <div id="read_top" class="read_content_wrapper">
            <img id="read_setting" onclick="read_displaySetting()" src="/images/dots_menu.svg"></img>
        </div>
        <div id="read_user_info" class="read_content_wrapper">
            <!-- <span><%=articleTable.board.nickname%> | <%=articleTable.board.blood%></span> -->
        </div>
        <div class="read_content_wrapper">
            <h2 id="read_title"><%=articleTable.board.title%></h2>
            <table class="read_info_table">
                <tr>
                    <th>닉네임</th>
                    <td><%=articleTable.board.nickname%></td>
                </tr>
                <tr>
                    <th>혈액형</th>
                    <td><%=articleTable.board.blood%></td>
                </tr>
                <tr>
                    <th>지역</th>
                    <td><%=articleTable.board.location%></td>
                </tr>
                <tr>
                    <th>병원</th>
                    <td><%=articleTable.board.hospital%></td>
                </tr>
                <tr>
                    <th>등록일자</th>
                    <td><%=articleTable.board.created_at%></td>
                </tr>
            </table>
            <p id="read_content_text"><%=articleTable.board.contents%></p>
        </div>
        <div id="read_comment" class="read_content_wrapper">
            <div class="read_comment_write">
                <form action="#" method="post">
                    <input id="read_comment_form" type="text" />
                    <button id="read_comment_submit">작성</button>
                </form>
            </div>
            <% if(articleTable.reply.length != 0){ %>
            <% for(let item=0; item<articleTable.reply.length; item++ ){ %>
            <div class="read_comment_wrapper">
                <div class="read_comment_user"><%=articleTable.reply[item].replier %></div>
                <p class="read_comment_content"><%=articleTable.reply[item].content %></p>
                <div class="read_comment_setting"><img onClick="read_comment_displaySetting()" src="/images/more.svg" />
                </div>
            </div>
            <% }}%>
        </div>
    </div>


    <!-- CONTENTS SETTING DISPLAY -->
    <div class="menu_container">
        <!-- !! 마지막 버튼은 닫기 버튼으로 고정할것 -->
        <ul>
            <li><a href="#">수정하기</a></li>
            <li><a href="#">삭제하기</a></li>
            <li onclick="read_closeSetting()">닫기</li>
        </ul>
    </div>

    <!-- CONTENTS SETTING DISPLAY -->
    <div class="menu_container">
        <!-- !! 마지막 버튼은 닫기 버튼으로 고정할것 -->
        <ul>
            <li><a href="#">수정하기</a></li>
            <li><a href="#">삭제하기</a></li>
            <li onclick="read_comment_closeSetting()">닫기</li>
        </ul>
    </div>
</body>

</html>