<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피플</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css?ver=1" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="title" content="피플">
    <meta name="description" content="세상을 구하는 붉은 인연, 전국민 헌혈 참여 플랫폼 피플입니다">
    <meta name="keywords" content="헌혈,헌혈자모집,수혈,지정헌혈">
    <meta name="robots" content="index, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Korean">
    <meta name="author" content="피플">
    <style>
        .dialog-ovelay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.50);
            z-index: 999999
        }

        .dialog-ovelay .dialog {
            width: 70vw;
            margin: 100px auto 0;
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0, 0, 0, .2);
            border-radius: 3px;
            overflow: hidden
        }

        .dialog-ovelay .dialog header {
            padding: 10px 8px;
            background-color: #f6f7f9;
            border-bottom: 1px solid #e5e5e5
        }

        .dialog-ovelay .dialog header h3 {
            font-size: 14px;
            margin: 0;
            color: #555;
            display: inline-block
        }

        .dialog-ovelay .dialog header .fa-close {
            float: right;
            color: #c4c5c7;
            cursor: pointer;
            transition: all .5s ease;
            padding: 0 2px;
            border-radius: 1px
        }

        .dialog-ovelay .dialog header .fa-close:hover {
            color: #b9b9b9
        }

        .dialog-ovelay .dialog header .fa-close:active {
            box-shadow: 0 0 5px #673AB7;
            color: #a2a2a2
        }

        .dialog-ovelay .dialog .dialog-msg {
            padding: 12px 10px;
            text-align: center;
        }

        .dialog-ovelay .dialog .dialog-msg p {
            margin: 0;
            font-size: 15px;
            color: #333
        }

        .dialog-ovelay .dialog footer {
            border-top: 1px solid #e5e5e5;
            padding: 8px 10px
        }

        .dialog-ovelay .dialog footer .controls {
            direction: rtl
        }

        .dialog-ovelay .dialog footer .controls .button {
            padding: 5px 15px;
            border-radius: 3px
        }

        .button {
            cursor: pointer
        }

        .button-default {
            background-color: rgb(248, 248, 248);
            border: 1px solid rgba(204, 204, 204, 0.5);
            color: #5D5D5D;
        }

        .button-danger {
            background-color: #f44336;
            border: 1px solid #d32f2f;
            color: #f5f5f5
        }

        .link {
            padding: 5px 10px;
            cursor: pointer
        }
    </style>
</head>

<body>
    <!-- Loading -->
    <div id="loading">
        <img src="/images/logo.svg">
        <span>로딩중 입니다...</span>
    </div>

    <!-- NAVBAR -->
    <nav>
        <ul>
            <li><a href="/"><img id="nav_landing" src="/images/landing.svg" alt="홈" /></a><span
                    id="nav_home_span">홈</span>
            </li>
            <li><a href="/board"><img id="nav_home" src="/images/home.svg" alt="홈" /></a><span id="nav_home_span">요청
                    리스트</span></li>
            <% if(!user) { %>
            <li><a href="/auth/kakao"><img id="nav_login" src="/images/login.svg" alt="로그인" /></a><span
                    id="nav_login_span">로그인</span></li>
            <% } %>
            <% if(user) { %>
            <li><a href="/board/write"><img id="nav_write" src="/images/write.svg" alt="글 작성" /></a><span
                    id="nav_write_span">요청</span></li>
            <% } %>
            <li><a href="/board/search"><img id="nav_search" src="/images/search.svg" alt="검색" /></a><span
                id="nav_search_span">검색</span></li>
            <% if(user) { %>
            <li><a href="/user/mypage"><img id="nav_mypage" src="/images/mypage.svg" alt="마이페이지" /></a><span
                    id="nav_mypage_span">마이페이지</span></li>
            <% } %>
        </ul>
    </nav>

    <!-- FLOATING -->
    <div class="floating_btn">
        <a href="/notice"><img src="/images/class-whiteboard.svg" alt="공지사항"/><span>공지사항</span></a>
    </div>

    <div class="container">
        <div id="read_top" class="read_content_wrapper">
            <img id="read_setting" onclick="read_displaySetting()" src="/images/dots_menu.svg"></img>
        </div>
        <div class="read_content_wrapper">
            <h2 id="read_title"><%=articleTable.board.title%></h2>

            <table class="read_info_table">
                <tr>
                    <th>닉네임</th>
                    <td><%=articleTable.board.nickname%></td>
                </tr>
                <tr>
                    <th>수혈자 혈액형</th>
                    <td><%=(articleTable.board.blood === 'none') ? `미지정 혈액형(요청자 본인 : ${articleTable.board.my_blood})` : articleTable.board.blood%>
                    </td>
                </tr>
                <tr>
                    <th>필요 헌혈 종류</th>
                    <td><%=(articleTable.board.type == null) ? '미지정' : typeTable[articleTable.board.type]%>
                    </td>
                </tr>
                <tr>
                    <th>지역</th>
                    <td><%=articleTable.board.location%></td>
                </tr>
                <tr>
                    <th>병원</th>
                    <td><%=articleTable.board.hospital%></td>
                </tr>
                <tr>
                    <th>등록일자</th>
                    <td><%=articleTable.board.created_at%></td>
                </tr>
            </table>
            <p id="read_content_text"><%-articleTable.board.contents%></p>
            <% if(user) { %>
            <% if(articleTable.board.usernum !== whoAmI) {%>
            <% if(!alreay_part) { %>
            <form id="read_like_button" action="../participate" method="POST">
                <input type="hidden" name="boardnum" value="<%=participants.boardnum%>">
                <input type="hidden" name="request_usernum" value="<%=participants.request_usernum%>">
                <input type="hidden" name="part_usernum" value="<%=participants.part_usernum%>">
                <button id="participation">현재 <%=articleTable.board.num_part%>명이 도움을 주고
                    있습니다.<br />지정헌혈에 동참하시려면 이 버튼을 눌러주세요.</button>
            </form>
            <% } else { %>
            <form id="read_like_button">
                <button id="participation" disabled>이미 참가하셨습니다.</button>
            </form>
            <% } }%>
            <% } else { %>
            <span class="read_pls_login">로그인을 해야 해당 헌혈글에 참여의사를 표시할 수 있습니다.</span>
            <% } %>


        </div>
        <div id="read_comment" class="read_content_wrapper">
            <% if(user) { %>
            <span id="read_comment_label">참여 / 응원 댓글 작성</span>
            <div class="read_comment_write">
                <input type="hidden" id="read_comment_boardnum" name="boardnum" value="<%=articleTable.board.boardnum%>" />
                <input type="hidden" id="read_comment_usernum" name="usernum" value="<%=whoAmI%>" />
                <input id="read_comment_form" type="text" name="contents" />
                <button id="read_comment_submit">작성</button>
            </div>
            <% } %>
            <% if(articleTable.reply.length > 0){ %>
            <div id='wrapper'>
                <% for(let item=0; item<articleTable.reply.length; item++ ){ %>
                <div class="read_comment_wrapper">
                    <div class="read_comment_user"><%=articleTable.reply[item].replier %></div>
                    <p class="read_comment_content"><%=articleTable.reply[item].content %></p>
                    <div class="read_comment_setting">
                        <% if(whoAmI != null && articleTable.reply[item].usernum == whoAmI) { %>
                        <form action="../comment_destroy" method="POST">
                            <input type="hidden" name="comment_num" value="<%=articleTable.reply[item].comment_num%>">
                            <button>삭제</button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <% }}%>
            </div>
        </div>
    </div>

    <div class="container">
        <footer>
            <ul>
                <li><a href="mailto: contact_people@naver.com">이메일 문의</a></li>
                <li><a href="https://www.notion.so/people1/Pple-link-f316e082adcd4a3abb6bc08fb95863d1">피플 소개 페이지</a>
                </li>
                <li><a href="https://pf.kakao.com/_EFavT">플러스친구</a></li>
            </ul>
            <span>Copyright (c) 2019 피플</span>
            <span>대표명 : 김범준</span>
            <span>contact_people@naver.com</span>
            <span>후원 계좌: 국민은행 466401-01-366890 (예금주 : 김범준)</span>
        </footer>
    </div>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/javascript/base.js"></script>
    <script>

        $('#participation').click(function (e) {
            e.preventDefault();

        })


        function Confirm(title, msg, $true, $false, $link) { /*change*/
            var $content =
                "<div class='dialog-ovelay'>" +
                "<div class='dialog'><header>" +
                " <h3> " + title + " </h3> " +
                "<i class='fa fa-close'></i>" +
                "</header>" +
                "<div class='dialog-msg'>" +
                " <p> " + msg + " </p> " +
                "<span class='participants_del_direction'>*지정헌혈 요청 상황이 종료될 시, 개인정보가 더이상 지정헌혈 요청자에게 제공되지 않습니다.</span>" +
                "</div>" +
                "<footer>" +
                "<div class='controls'>" +
                " <button class='button button-danger doAction'>" + $true + "</button> " +
                " <button class='button button-default cancelAction'>" + $false + "</button> " +
                "</div>" +
                "</footer>" +
                "</div>" +
                "</div>";
            $('body').prepend($content);
            $('.doAction').click(function () {
                $('#read_like_button').submit();
                $(this).parents('.dialog-ovelay').fadeOut(500, function () {
                    $(this).remove();
                });
            });
            $('.cancelAction, .fa-close').click(function () {
                $(this).parents('.dialog-ovelay').fadeOut(500, function () {
                    $(this).remove();
                });
            });

        }
        $('#participation').click(function () {
            Confirm('헌혈 참여 확인', '지정헌혈 요청자의 원활한 혈액 수급에 도움을 드리고자 <br/> 헌혈자의 닉네임, 연락처, 지역, 혈액형 정보가 지정헌혈 요청자에게 전달됩니다.<br/>-- 생명을 살리는 일에 동참해주세요 --', '확인', '취소', "https://www.google.com.eg"); /*change*/
        });

    </script>
</body>

</html>